[v-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

.project {
    width: 200px;
}

.project .card-body {
    min-height: 120px;
}

.desc {
    color: #999;
}

body {
    background: #000;
    /* color:#fff; */
}

#app {
    color: #fff;
}

a {
    color: #fff;
}

.tool a {
    display: inline-block;
    margin:5px 10px;
}