<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class4ever 开源社区</title>
    <link rel="shortcut icon" href="/image/favicon.jpg">
    <link rel="apple-touch-icon" href="/image/favicon.jpg">
    <link rel="stylesheet" href="//static.class4ever.com/layui/v2.5.5/css/layui.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">

        <aside id="left" v-cloak>
            <!-- logo -->
            <div class="layui-card">
                <div class="layui-card-body logo">Class4ever</div>
            </div>
            <!-- /logo -->

            <!-- 导航 -->
            <div class="layui-card">
                <div class="layui-card-body filter" style="font-size:0 !important;padding:10px 20px;">
                    <button @click="set_type('all')"
                        class="layui-btn layui-btn-sm layui-btn-warm layui-btn-fluid">全部</button>
                    <button @click="set_type('blog')"
                        class="layui-btn layui-btn-sm layui-btn-normal layui-btn-fluid">博客</button>
                    <button @click="set_type('christian')" class="layui-btn layui-btn-sm  layui-btn-fluid">基督徒</button>
                    <button @click="set_type('shuoshuo')"
                        class="layui-btn layui-btn-sm layui-btn-primary layui-btn-fluid">说说</button>
                    <button @click="set_type('system')" class="layui-btn layui-btn-sm layui-btn-danger layui-btn-fluid"
                        style="margin-bottom:0;">系统</button>
                </div>
            </div>
            <!-- /导航 -->



        </aside>

        <main v-cloak>

            <div v-for="(v,k) in list" class="layui-card">
                <div class="layui-card-body" style="padding:0;">

                    <div class="title-box">
                        <template v-if="v.uri">
                            <a :href="v.uri" target="_blank" v-html="nl2br(v.title)" class="title"></a>
                        </template>
                        <template v-else>
                            <span v-html="nl2br(v.title)" style="font-size:15px;" class="shuoshuo"></span>
                        </template>
                    </div>

                    <div class="info-bar">
                        <div>
                            <button @click="set_type(get_type(v.site_id).route)" :class="get_type(v.site_id).style"
                                class="layui-btn layui-btn-sm">{{ get_type(v.site_id).name }}</button>
                            <span class="post-time">
                                {{
                                better_time({
                                unixtime : v.create_at,
                                type : get_type(v.site_id).route
                                })
                                }}
                            </span>
                        </div>
                        <div class="author">
                            Ricky
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body more">
                    <span v-if="is_loading">加载中...</span>
                    <span v-else-if="is_end">没有更多了</span>
                    <button v-else @click="more" class="layui-btn layui-btn-primary layui-btn-lg"
                        style="width:300px;">更多</button>
                </div>
            </div>

        </main>

        <aside id="right" style="width:300px;" v-cloak>

            <div class="layui-card">
                <div class="layui-card-header">友情链接</div>
                <div class="layui-card-body link">
                    <a v-for="(v,k) in hotlink" :href="v.uri" target="_blank">{{ v.site_name }}</a>
                </div>
            </div>

            <!-- 搜索 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <form action="https://blog.class4ever.com/" method="get" target="_blank">
                        <div>
                            <input name="s" type="text" class="layui-input">
                        </div>
                        <div style="text-align:right;margin-top:10px;">
                            <button class="layui-btn layui-btn-sm layui-btn-normal">搜博客</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /搜索 -->

            <div class="layui-card">
                <div class="layui-card-header">工具</div>
                <div class="layui-card-body">
                    <p>
                        <a href="https://www.layui.com/doc/element/icon.html" target="_blank">Layui字体图标</a>
                    </p>
                    <p>
                        <a href="https://class4ever.com/qrcode.html" target="blank">文字转二维码</a>
                    </p>
                    <p>
                        <a href="https://www.kancloud.cn/manual/thinkphp6_0/1037479" target="_blank">ThinkPHP6 开发手册</a>
                    </p>
                    <p>
                        <a href="https://whois.chinaz.com/" target="_blank">Whois查询</a>
                    </p>
                    <p>
                        <a href="https://icp.chinaz.com/" target="_blank">ICP查询</a>
                    </p>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">项目</div>
                <div class="layui-card-body">
                    <ul>
                        <li>
                            <a href="https://class4ever.com/slashmark/" target="blank">Slashmark</a>
                        </li>
                        <li>
                            <a href="https://class4ever.com/admin_ui/" target="blank">Admin UI</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">微信公众号</div>
                <div class="layui-card-body" style="text-align:center;">
                    <img src="/image/wechat.jpg" alt="基督徒" style="width:150px;">
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body">
                    Version:
                    <a href="https://blog.class4ever.com/?p=3028" target="_blank">
                        0.1
                    </a>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-body copy">
                    <div style="margin-top:6px;margin-bottom:4px;">
                        <a href="https://baike.baidu.com/item/%E5%85%AC%E6%9C%89%E9%A2%86%E5%9F%9F" target="_blank">
                            <img src="/image/public_domain.png" alt="CC BY 4.0" style="height:31px;" title="公有领域">
                        </a>
                    </div>
                    <div>Class4ever也是一个校友录</div>

                    <div>北京葡萄枝子科技工作室</div>
                    <div>你若信，就必看见神的荣耀</div>
                </div>

                <footer>
                    <div>
                        <a href="https://beian.miit.gov.cn" target="_blank">
                            京ICP备14017091号-1
                        </a>
                    </div>
                </footer>
        </aside>

        <!-- 回到顶部按钮 -->
        <div @click="go_to_top" class="go-to-top">
            <i class="layui-icon layui-icon-up" style="font-size: 40px; color: #1E9FFF;"></i>
        </div>
        <!-- /回到顶部按钮 -->
    </div>

</body>
<script src="//static.class4ever.com/layui/v2.5.5/layui.all.js"></script>
<script src="//static.class4ever.com/vuejs/v2.6.12/vue.min.js"></script>
<script src="app.js"></script>

</html>