/* 基本样式 */

* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
}

[v-cloak] {
    display: none;
}

/* 左侧栏 */

.side-bar {
    background: #35363a;
    width: 210px;
    min-width: 210px;
    height: 100%;
    color: #fff;
    overflow: auto;
}

/* 站点标题 */

.site-title {
    font-size: 19px;
    background: #000;
    height: 20px;
    padding: 15px 0 5px;
    text-align: center;
}

/* 菜单: 样式 */

.menu, .menu-active, .menu-sub {
    height: 49px;
    line-height: 49px;
    padding: 1px 1px 1px 41px;
    color: #fff;
}

/* 菜单: hover态 */

.menu:hover, .menu-sub:hover {
    background: #1f1f1f;
    cursor: pointer;
    border: 1px dashed #fff;
    padding: 0 0 0 40px;
}

/* 菜单: 2级菜单颜色 */

.menu-sub {
    background: #1f1f1f;
}

/* 菜单: 选中状态 */

.menu-active {
    background: #30a5ff;
}

/* iframe样式 */

.main-frame {
    height: 100%;
    width: 100%;
    border: 0;
}

/* 显示管理员控制按钮 */

.admin-control {
    line-height: 25px;
    border: 1px solid #000;
}

/* 显示管理员控制按钮:hover态 */

.admin-control:hover {
    cursor: pointer;
    background: #1f1f1f;
    border: 1px dashed #fff;
}

/* 管理员控制栏 */

.admin-line {
    text-align: center;
    background: #000;
    padding-bottom: 5px;
}

/* 菜单中的向下箭头的位置 */

.sub-tip {
    float: right;
    padding-right: 15px;
}

/* 向下箭头大小 */

.sub-tip>i, .admin-control>i {
    font-size: 10px;
}

/* shake按钮 */

.btn-shake {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}